# Gradle 및 Kotlin
.gradle/
.kotlin/
build/
local.properties

# Xcode
**/xcuserdata/
*.xcuserstate

# CocoaPods
shared/shared.podspec

# 비밀값
.env*
**/google-services.json
**/GoogleService-Info.plist

# macOS
.DS_Store

# Python 도구
__pycache__/
*.py[cod]
